{% extends 'BWW/base.html' %}

{% block content %}
    <table>
        <tr>
            <td class="tdlabel"> Name</td>
            <td class="tdlabel"> Adresse</td>
            <td class="tdlabel"> Firma</td>
        </tr>

        {% for arbeitskraft in arbeitskraft %}
            <tr class='clickable-row' data-href="{% url 'arbeitskraft_detail' pk=arbeitskraft.pk %}">

                <td> {{ arbeitskraft.vorname }} {{ arbeitskraft.nachname }}</td>
                <td> {{ arbeitskraft.strasse }} {{ arbeitskraft.hausnummer }} , {{ arbeitskraft.plz }}</td>
                <td> {{ arbeitskraft.firma }}</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}

